################################################################################
#
# nrpe command configuration file
#
# COMMAND DEFINITIONS
# Syntax:
# command[<command_name>]=<command_line>
#

command[check_swap]=/usr/lib/nagios/plugins/check_swap -w 20% -c 10%
command[check_root_disk]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p / -m
command[check_ssh]=/usr/lib/nagios/plugins/check_ssh localhost
command[check_http]=/usr/lib/nagios/plugins/check_http -I localhost
